* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --charleston-green: #212832;
  --jelly-bean: #df6951;
  --space-cadet: #181e4b;
  --dark-electric-blue: #5e6282;
  --orange-web: #f1a501;
  --yankees-blue: #14183e;
  --blue-sapphire: #006380;
  --medium-purple: #8a79df;
  --roman-silver: #84829a;
  --manatee: #9ca0b0;
  --iris: #4152ca;
}
a {
  text-decoration: none;
}
li{
  list-style: none;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  padding: 47px 0;
  border-bottom: 1px solid rgb(0 0 0 / 0.1);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav {
  position: relative;
}
  header nav input {
  appearance: none;
}
header nav label img {
  cursor: pointer;
}

@media (max-width: 991px) {
    header nav ul {
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
    background-color: var(--white);
  }
    header nav ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }
}
  header nav input:checked + ul {
  display: block;
}
@media (min-width: 992px) {
  
   header nav ul {
    display: flex;
    align-items: center;
  }
   header nav ul li {
    padding: 0 20px;
  }
   header nav label,
  header nav input {
    display: none;
  }
}
header nav ul li a {
  font-family: "Poppins", serif;
  font-size: 17px;
  font-weight: 500;
  color: var(--charleston-green);
}
header nav ul li .sign-up {
  padding: 4px 10px;
  border: 1px solid var(--charleston-green);
  border-radius: 5px;
}
header nav ul li select {
  background-color: transparent;
  border: none;
  outline: none;
}
.hero {
  height: calc(100vh - 134px);
}
.hero .container {
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .hero .info {
    width: 50%;
  }
}
.info .main-description {
  
  font-family:"Poppins", serif ;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--jelly-bean);
  padding-top: 60px;
  

}
.hero .info .enjoy {
  position: relative;
}
.hero .info .enjoy::aftetyr {
  content: "";
  position: absolute;
  left: -30px;
  bottom: 0px;
  width: calc(100% + 100px);
  height: 10px;
  background-image: url(../images/Decore.png);
  z-index: -1;
}
h1{
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -4px;
  color: var(--space-cadet)
}
.info .hero-paragraph{
  font-family:"Poppins", serif  ;
  font-size:16px ;
  font-family: 500;
  line-height: 30px;
  color:var(--dark-electric-blue);
}

.hero-link{
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 20px 10px;
  
   
   

}
.hero-link .pla-demo{
 font-family:"Poppins", serif ;
 font-weight: 500;
 font-size: 17px;
 line-height: 25.5px;
}
.hero .hero-link .find-out,
.hero .hero-link .pla-demo { 
  
   padding: 15px ;
  font-size: 16px;
   background-color:var(--orange-web);
   color: var(--white); 
  border-radius: 10px; 
  text-align: center;
  font-family:"Google Sans" ;
}


.hero .image .blob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 991px) {
  .hero .image {
    display: none;
  }
}